html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%
} 

body{
    background-color: seashell;
}

.head{
    text-align: center;
    font-size: 3rem;
}

.flex-container1{
    display: flex;
    justify-content: space-around;

}

.food1{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food1.jpg);
    width: 28%;
}

.food2{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food2.jpg);
    width: 28%;
}

.food3{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food3.jpg);
    width: 28%;
}


.flex-container2{
    display: flex;
    justify-content: space-around;
}

.food4{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food4.jpg);
    width: 28%;
}

.food5{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food5.jpg);
    width: 28%;
}

.food6{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food6.jpg);
    width: 28%;
}

.flex-container3{
    display: flex;
    justify-content: space-around;
}

.food7{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food7.jpg);
    width: 28%;
}

.food8{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food8.jpg);
    width: 28%;
}

.food9{
    width: 50vw;
    height: 70vh;
    border: 3px solid powderblue;
    background-image: url(image/food9.jpg);
    width: 28%;
}