html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%

} 

body{
    font-family: 'Grechen Fuemen', cursive;
    background-color: peru;
    
}

.head{
    text-align: center;
    font-size: 5rem;
}

.flex-container1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-block-end: 50px;

   

}

.food1{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food1.jpg);
    width: 28%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px black;
}



.food2{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food2.jpg);
    width: 28%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px black;
}

.food3{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food3.jpg);
    width: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}


.flex-container2{
    display: flex;
    justify-content: space-around;
    margin-block-end: 50px;
    
}

.food4{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food4.jpg);
    width: 28%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px black;
}

.food5{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food5.jpg);
    width: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}

.food6{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food6.jpg);
    width: 28%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px black;
}

.flex-container3{
    display: flex;
    justify-content: space-around;
    margin-block-end: 50px;
}

.food7{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food7.jpg);
    width: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}

.food8{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food8.jpg);
    width: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}

.food9{
    width: 50vw;
    height: 70vh;
    border:8px solid wheat;
    border-top-width: 70px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    background-image: url(image/food9.jpg);
    width: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
  
}